@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "amelaryas";
  src: url('../public/fonts/Amelaryas.ttf')
}

@font-face {
  font-family: "burtons";
  src: url('../public/fonts/Burtons.otf')
}

@font-face {
  font-family: "camaly";
  src: url('../public/fonts/Camaly.ttf')
}

@font-face {
  font-family: "voltdeco";
  src: url('../public/fonts/Voltdecov02Thin.otf')
}

@font-face {
  font-family: "Roboto", sans-serif;
  src: url('../public/fonts/Roboto-Light.ttf')
}
